{% extends 'pcube/base.html' %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}">
{% endblock headers %}


{% block content %}
    <form method="POST" action="{% url 'login'%}">
        {% csrf_token %}
        <div class="inputbox">
            <h2>Login</h2>
            <div class="textbox">
                <input type="text" placeholder="Username" name="username" required="">
            </div>
            <div class="textbox">
                <input type="password" placeholder="Password" name="password" required="">
            </div>
            <a href="homepage.html">
            {% if error %}
                <h5 style="color: rgb(252, 110, 15);font-size: 18px;">{{error}}</h5>
            {% endif %}
            <input class="btn" type="submit" name="" value="Sign in"></a>
            <div class="relative"><b>Not Registered? </b>
            <a href="{% url 'register' %}" target="_self">SIGN UP</a>   </div>
        </div>
    </form>
{% endblock content %}