{% extends 'pcube/base.html' %}
{%load static%}

{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'pcube/notification.css' %}">
{% endblock headers %}


{% block content %}
    <div class="notifications">
        <h2>Notification-{{msgs_count}}</h2>
        {% for msg in msgs %}
        <div class="notification">
            <h1><a href="{% url 'post-detail' msg.post.id %}">{{msg.title}}</a>
                <h5>{{msg.date_posted}}</h5>
                <form action="{% url 'noti-clear' %}" method="POST">
                    {% csrf_token %} 
                    <button id="like" class="btn ulk" type="submit" name="noti_id" value="{{ msg.id }}">
                </form>
                <i class="fa fa-close" style="font-size:25px"></i>
                </button> 
            </h1>
            <h3>{{msg.discription}}</h3>
        </div>
        {% endfor %}
    </div>
{% endblock content %}