{% extends 'pcube/base.html' %}
{% load static %}

{% block headers %}
        <link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock headers %}


{% block content %}
    <div class="whole-site">
        <div class="part part1">
            <div class="profile-block">
                <h1>Profile</h1>
                <hr/>
                <div class="profile-img">
                    <img src="{{ user.profile.image.url }}" alt="profile" id="profile-op">
                    {% if user.profile.is_varified %}
                        <i class="fas fa-check-circle" style="color: #3bffdc; font-size: 37px;position: relative;left: -45px;top: -10x;background: white;border-radius: 50%;"></i>
                    {% endif %}
                </div>
                <div class="profile-items">
                    <p>Full Name</p>
                    <h3>{{ user.profile.fullname }}</h3>
                    <p>Email</p>
                    <h3>{{ user.email }}</h3>
                    <p>Phone-No</p>
                    <h3>{{ user.profile.phoneno }}</h3>
                    <p>Address</p>
                    <h3>{{ user.profile.address }}</h3>
                    <p>State</p>
                    <h3>{{ user.profile.state }}</h3>
                    <p>City</p>
                    <h3>{{ user.profile.city }}</h3>
                    <br>
                    <a href="{% url 'profile_update' %}"><i class="fa fa-edit"></i></a>
                </div>
            </div>
        </div>

        <div class="part part2">
            <div class="options">
                <input type="radio" id="liked_r" name="option" value="liked_r"  onchange="changed(this);" checked>
                <label for="liked_r">Liked</label><br>
                <input type="radio" id="requested_r" name="option" value="requested_r" onchange="changed(this);" >
                <label for="requested_r">Requested</label> 
                <input type="radio" id="bought_r" name="option" value="bought_r" onchange="changed(this);" >
                <label for="bought_r">Bought</label><br>
                <input type="radio" id="sold_r" name="option" value="sold_r" onchange="changed(this);" >
                <label for="sold_r">Sold</label> 
                <input type="radio" id="unsold_r" name="option" value="unsold_r" onchange="changed(this);" >
                <label for="unsold_r">Unsold</label> 
            </div>

            <div class="my-list">

                <div class="options_div liked" id="liked">
                    {% for like in  liked%}
                        <div class="product">
                            <p class="product-title">{{like.title}}</p>
                            <img src="{{like.image.url}}" alt="image" />
                            <div class="product-text">
                            <p class="brand">{{like.brand}}</p>
                            <h3>&#8377;{{like.newprice}}</h3>
                            <button>
                                <a href="{% url 'post-detail' like.id %}">View Product</a>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="options_div bought" id="bought">
                    {% for item in  bought%}
                        <div class="product">
                            <p class="product-title">{{item.title}}</p>
                            <img src="{{item.image.url}}" alt="image" />
                            <div class="product-text">
                            <p class="brand">{{item.brand}}</p>
                            <h3>&#8377;{{item.newprice}}</h3>
                            <button>
                                <a href="{% url 'post-detail' item.id %}">View Product</a>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="options_div sold" id="sold">
                    {% for item in  sold%}
                        <div class="product">
                            <p class="product-title">{{item.title}}</p>
                            <img src="{{item.image.url}}" alt="image" />
                            <div class="product-text">
                            <p class="brand">{{item.brand}}</p>
                            <h3>&#8377;{{item.newprice}}</h3>
                            <button>
                                <a href="{% url 'post-detail' item.id %}">View Product</a>
                            </button>
                        </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="options_div unsold" id="unsold">
                    {% for item in  unsold%}
                        <div class="product">
                            <p class="product-title">{{item.title}}</p>
                            <img src="{{item.image.url}}" alt="image" />
                            <div class="product-text">
                            <p class="brand">{{item.brand}}</p>
                            <h3>&#8377;{{item.newprice}}</h3>
                            <button>
                                <a href="{% url 'post-detail' item.id %}">View Product</a>
                            </button>
                        </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="options_div requested" id="requested">
                    {% for item in  requested%}
                        <div class="product">
                            <p class="product-title">{{item.title}}</p>
                            <img src="{{item.image.url}}" alt="image" />
                            <div class="product-text">
                            <p class="brand">{{item.brand}}</p>
                            <h3>&#8377;{{item.newprice}}</h3>
                            <button>
                                <a href="{% url 'post-detail' item.id %}">View Product</a>
                            </button>
                        </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <div class="addpost-div">
        <div class="addpost-div2">
            <div id="addpost">
                <a href="{% url 'add-post' %}"><i class="fa fa-paper-plane" style="font-size:36px"></i></a>
            </div>
            <div class="addpost-msg">
                Add Post
            </div>
        </div>
    </div>

<script src="{% static 'users/profile.js' %}"></script>
<style>
         #addpost {
            background-color: #e0e0e0;
            color: rgb(19, 18, 17);
            text-shadow: 1px 1px #666565;
            padding: 10px;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            position: relative;
            text-align: center;
            box-shadow: 0px 0px 10px #050505;
            cursor: pointer;
        }
        
        .addpost-div {
            position: fixed;
            top: 85%;
            right: 20px;
            z-index: 100;
        }
        
        .addpost-div2 {
            position: relative;
        }
        
        .addpost-div .addpost-msg {
            background-color: #222020;
            color: #cedda6;
            font-size: 16px;
            padding: 3px;
            text-align: center;
            border-radius: 4px;
            margin-top: 2px;
            display: none;
            position: relative;
            top: -10px;
        }
        
        #addpost a {
            color: #1d1d1c;
        }
        
        .addpost-div:hover .addpost-msg {
            display: block;
        }
    </style>
{% endblock content %}