.post-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.95, 0.95);
    background-color: #1d1d1d;
    color: whitesmoke;
    padding: 20px 50px 50px 50px;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    width: 90vw;
    max-width: 800px;
    box-shadow: 0px 0px 3px #e4e4e4;
}

.post-container h1 {
    color: antiquewhite;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 45px;
}

.post-container hr {
    margin-bottom: 30px;
}

.post-container form {
    display: flex;
}

.post-container form .post-details {
    width: 50%;
    font-size: 20px;
}

.post-container form .post-details input,
textarea {
    background: none;
    border: none;
    outline: none;
    width: 200px;
    height: 20px;
    color: cornsilk;
    font-size: 15px;
    padding: 5px 10px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ebe9e9;
    font-family: 'Raleway', sans-serif;
}

.post-container form .post-details input:focus,
textarea:focus {
    border-bottom: 1px solid #00ccff;
    transition: 0.5s;
}

.post-container form .post-details p {
    padding: 15px 0;
}

.post-container form .post-details p::after {
    content: '*';
    color: chartreuse;
}

.post-container form .post-images {
    width: 50%;
    font-size: 20px;
}

.post-container form .post-images .post-image {
    margin-top: 20px;
}

.post-container form .post-images img {
    width: 300px;
    max-height: 350px;
    border: 3px dashed #555;
}

.post-container form .post-images label {
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #161616;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-container form .post-images input[type=submit] {
    position: absolute;
    bottom: 20px;
    right: 100px;
    outline: none;
    border: none;
    color: cornsilk;
    background-color: #111;
    padding: 10px 20px;
    border-radius: 30px;
    width: 100px;
    letter-spacing: 1px;
    font-size: 18px;
}

.post-container form .post-images input[type=submit]:hover {
    transition: 0.5s;
    background-color: rgb(14, 14, 14);
    box-shadow: 1px 1px 10px 4px #00ccff;
    color: #aedbff;
}

.post-container form .post-images input[type=file] {
    display: none;
}

@media screen and (max-width: 712px) {
    .post-container form {
        display: block;
    }
    .post-container form .post-images {
        width: 100%;
        margin-top: 20px;
    }
    .post-container form .post-details {
        width: 100%;
    }
}

.radios {
    margin-top: 10px;
    font-size: 20px;
    display: inline-block;
}

.radios input[type="radio"] {
    display: none;
}

.radios label {
    padding: 5px 10px;
    background-color: #e6e6e6;
    margin-left: 5px;
    width: 25%;
    color: #1b1b1b;
    box-shadow: 0px 0px 4px #3f3e3e;
    transition: background-color 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.radios input[type="radio"]:checked+label {
    background-color: #141414;
    color: #fafafa;
}

.selects select {
    width: 200px;
    padding: 2px 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #ececec;
    color: #252525;
    border-radius: 5px;
    align-self: center;
}

.selects {
    color: cornsilk;
    margin-top: 10px;
}

.post-images a {
    border: none;
    outline: none;
    background-color: #f5f5f5;
    color: #1c1c1d;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}