
{% extends 'pcube/base.html' %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'pcube/addpost.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock headers %}


{% block content %}
    <div class="post-container">
        <h1>POST Product</h1>
        <hr>
        <form method="POST" action="{% url 'add-post'%}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="post-details">
                <p>Product Title</p>
                <input type="text" name="title" id="product-title" required>
                <p>Product type</p>
                <div class="radios">
                    <input type="radio" id="other" name="type" value="other" checked="checked" onchange="handleChange(this);" required>
                    <label for="other">Other</label>
                </div>
                <p>Brand</p>
                <div class="selects" id="selects">
                    <select name="brand" id="company">
                        <option value="other">other</option>
                    </select>
                </div>
                <p>Discription</p>
                <textarea id="product-disc" name="product-disc" cols="40" rows="5" required></textarea>
                <p>Old price</p>
                <div class="price">
                    <label for="">&#8377;</label>
                    <input id="price1" name="old-price" id="old-price" type="number" min="10" required>
                </div>
                <p>Your price</p>
                <div class="price">
                    <label for="">&#8377;</label>
                    <input id="price2" name="new-price" id="new-price" type="number" min="10" required>
                </div>
            </div>

            <div class="post-images">
                <input type="file" name="img" id="file-input" accept="image/*" onchange="preview_image(event)" required>
                <label for="file-input">Choose Img<i class="fas fa-camera"></i></label>
                <div class="post-image">
                    <img id="output_image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVVhf6YdO-D4g_VPX9EA0wGBD0SwfpakZJTQ&usqp=CAU">
                </div>
                <a href="{% url 'pcube-home' %}">Cancle</a>
                <input type="submit" value="Post">
            </div>
        </form>
    </div>

    <script src="{% static 'pcube/addpost.js' %}"></script>
{% endblock content %}