{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pcube/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon2.png' %}" />
    <title>PCUBE</title>
    {% block headers %} {% endblock headers %}
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fa fa-bars"></i>
        </label>
        <label class="logo"><a href="{% url 'pcube-home' %}" style="color: aliceblue;"><img src="{% static 'images/favicon2.png' %}" alt="logo" style="position: relative; top: -13px; height: 70px;"></a></label>
        <ul class="list">
            <li class="ls"><a class="active" href="{% url 'pcube-home' %}">Home</a></li>
            <li class="ls noti-li">
                <a href="{% url 'notification' %}">Notification</a>
                <p id="noti-count">0</p>
            </li>
            {% if user.is_authenticated %}
            <li class="ls"><a href="{% url 'profile' %}">Profile</a></li>
            <li class="ls"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="ls"><a href="{% url 'login' %}">sign-in</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="block">
        {% block content %} {% endblock content %}
    </div>
    <footer>
        <div class="total-div">
      <div class="copyright">
        <div class="loc">
            <div>
            <i class="fas fa-map-marker-alt"></i>
            </div>
            <p>Bull Temple Rd, Basavanagudi, Bengaluru, Karnataka 560019</p>
        </div>
        <div class="phn">
            <div>
            <i class="fas fa-phone-alt"></i>
            </div>
            <p>080 2662 2130</p>
        </div>
        <div class="mail">
            <div>
            <i class="fas fa-envelope"></i>
            </div>
            <a href="mailto:pcubedevelopers@email.com">pcubedevelopers@gmail.com</a>
        </div>
      </div>
      <div class="social">
        <h3>About the company</h3>
        <p>This company mainly focuses on the marketing the products and 
            consumers buying it everyone can sell their product on the best platform <strong>PCUBE</strong></p>
        <div class="link">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/adigapranava/PCUBE"><i class="fab fa-github"></i></a>
        </div>
      </div>
      </div>
      <hr>
      <div class="about-us"><a href="{% url 'about_us' %}" target="_blank">About - Us</a></div>
    </footer>
    <div id="notification-container"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    /*$('.noti-box .noti-top .noti-cancel').on('click', function() {
        document.getElementsByClassName("noti-box")[0].style.display = 'none';
    });*/

    //check if Authenticated
    var isAuthenticated = '{{request.user.is_authenticated}}' === 'True';
    var notified = new Array();
    var msgs;
    var c = document.getElementById('noti-count');
    const container = document.querySelector("#notification-container");

    function createNotification(text) {
        const notif = document.createElement('div');
        notif.classList.add('toast');
        notif.innerHTML = text
        container.appendChild(notif);

        setTimeout(() => {
            notif.remove();
        }, 3000)
    }
    {% for message in messages %}
        createNotification("{{message}}");
    {% endfor %}

    function check_n_display(msgs){
        for (let i = 0; i < msgs.length; i++) {
            var ele = msgs[i].fields.title;
            if (!notified.includes(msgs[i].pk)) {
                notified.push(msgs[i].pk);
                createNotification(ele);
            }            
        }
    }   


    var temp = window.location.href;
    var URL = '';
    for (var i = 0; i < 3; i++) {
        URL += temp.split('/')[i] + '/'
    }

    function check() {
        var url = URL+'latest_notification/';
        $.get(url, function(data, status) {
            if (data) {
                data = JSON.parse(data);
                var count = data["msg_count"];
                msgs = data['messages'];
                msgs = JSON.parse(msgs);
                c.innerText = count;
                if(msgs.length>0){
                    check_n_display(msgs);
                }                
            }
        });
    }
    if( isAuthenticated){
        check();
        var myVar = setInterval(check, 6000);
    }
</script>

</html>