{% extends 'pcube/base.html' %}
{% load static %} 


{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'pcube/filter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pcube/users_post.css' %}">
    <script>
        var posts, companys;
        posts = {{ post| safe }};
    </script>
{% endblock headers %} 


{% block content %}
<div class="small-profile">

    <div class="profile-img">
        <div class="proimg">
            <img class="img" src="{{user.profile.image.url}}" alt="">
            {% if user.profile.is_varified %}
                <i class="fas fa-check-circle" 
                style="color: #3bffdc; font-size: 37px;
                position: relative;left: -45px;top: -19px;background: #2491ff;
                border-radius: 50%;border: 3px solid #2491ff;"></i>
            {% endif %}
        </div>
    </div>

    <div class="profile-text">
        <h2>{{user.profile.fullname}}</h2>
        <h5>{{ user.email }}</h5>
        <h6 id="user_pk">{{ user.pk }}</h6>
    </div>

</div>


<div style="margin-top: 20px;" class="box-container"></div>


<div class="filter-div">
    <div class="filter-div2">
        <div class="filter-box">

            <div class="radios">
                <input type="radio" id="all" name="type" value="all" checked="checked" onchange="handleChange(this);">
                <label for="all">All</label><br>
            </div>
            <div class="selects" id="selects">
                <p>Company</p>
                <select name="company" id="company">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="searchs">
                <p>Starting rate : &#8377;</p>
                <input type="text" id="start-rate">
                <br>
                <p>Ending rate: &#8377;</p>
                <input type="text" id="end-rate">
            </div>
            <button id="fil" onclick="filter()">Filter</button>
        </div>
        <div id="filter-search">
            <i class="fa fa-filter" style="font-size:36px"></i>
        </div>
        <div class="filter-msg">
            filter
        </div>
    </div>
</div>

<script src="{% static 'pcube/users_post.js' %}"></script>
{% endblock content %}