* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
}

.row1 {
    width: 60%;
    z-index: 1;
}

.row2 {
    width: 40%;
}

.r2c {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0;
}


/* Small profile css */

.small-profile {
    box-sizing: content-box;
    width: 350px;
    height: 150px;
    padding: 30px;
    background-color: #1d1d2b;
    border-radius: 30px;
    top: 20px;
    box-shadow: 0px 0px 1px #928e8e;
}

.small-profile .profile-img .proimg {
    position: absolute;
    top: -10%;
}

.small-profile .profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(206 221 236);
}

.small-profile .profile-text {
    float: right;
}

.small-profile .profile-text h2 {
    font-size: 40px;
    max-width: 200px;
    margin: 0;
    text-align: center;
    color: rgb(206 221 236);
    font-weight: 700;
}

.small-profile .profile-text h2:hover {
    color: floralwhite;
}

.small-profile .profile-text h5 {
    color: rgb(206 221 236);
    text-align: center;
    font-weight: 300;
}


/* table design */

table {
    background-color: #33334e;
    border-collapse: collapse;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #807b7b;
    color: #ffffff;
    font-weight: 200;
}

th,
td {
    width: 100px;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 10px 14px;
    text-align: center;
}

th {
    background-color: #1d1d2b;
    letter-spacing: 0.7px;
}

td {
    color: seashell;
    letter-spacing: 0.7px;
}

.sell {
    padding: 6px 8px;
    background-color: #049464;
    font-weight: 1000;
    border-radius: 5px;
    font-size: 1rem;
    color: seashell;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.del {
    cursor: pointer;
    padding: 6px 8px;
    font-weight: 1000;
    border-radius: 5px;
    font-size: 1rem;
    color: seashell;
    min-width: 100px;
    text-align: center;
    background-color: #943e04;
    border: none;
    outline: none;
}


/* Notifications */

.notifications {
    padding: 10px;
    background-color: #1d1d2b;
    border-radius: 10px;
    color: aliceblue;
    width: 90%;
}

.notifications .notification {
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #b8dae2;
}

.notifications .notification h1 {
    color: aqua;
    font-size: 26px;
}


/* POST INFO */

.post-div {
    background-color: #1d1d2b;
    margin: 1rem 1rem 0 1rem;
    border-radius: 20px 20px 0 0;
    color: cornsilk;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.prices h3,
.prices h4 {
    font-weight: 500;
}

.disc {
    display: flex;
}

.disc1,
.disc2 {
    width: 50%;
    margin-bottom: 20px;
}

.post-div .date {
    color: #a7a5a5;
    border-bottom: 5px solid #f08080;
    padding: 0.5rem;
}

.title h1 {
    text-transform: capitalize;
    font-size: 3rem;
    max-width: 4rem;
}

.title h5 {
    font-size: 1.2rem;
    color: rgb(233, 138, 138);
    text-transform: capitalize;
}

.title {
    margin-bottom: 5vh;
}

.prices span {
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 1px;
}

h4 .old {
    font-size: 18px;
    color: #c2a8a8;
    text-decoration: line-through;
}

.disc .prices {
    margin-bottom: 10px;
}

.disc1 span {
    text-transform: capitalize;
}

.disc1 p {
    font-size: 20px;
    padding: 10px 20px 10px 10px;
    text-align: justify;
    color: #c7c2b8;
    max-width: 300px;
}

.disc2 img,
.add {
    margin-top: 30px;
    max-height: 500px;
    max-width: 360px;
}

.sure {
    width: 100%;
    text-align: center;
    /* z-index: -1; */
    padding: 1rem;
    position: relative;
}

.sure form {
    margin: 0 !important;
    background-color: #928e8e;
}

.sure form .form-itms {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    /* background-color: #807b7b; */
}

.sure h3 {
    font-weight: 200;
    font-size: 25px;
}

.post-div2 {
    background-color: #1d1d2b;
    margin: 0 1rem 1rem 1rem;
    border-radius: 0 0 20px 20px;
    color: cornsilk;
    padding: 1rem;
    position: relative;
    transform: translateY(-180px);
    transition: transform 0.5s;
}

.row1 .active {
    transform: translateY(0);
}

.buttons .dgr,
input[type=submit] {
    background: tomato;
    width: 100px;
    cursor: pointer;
}

.buttons {
    display: flex;
    margin-top: 4rem;
    color: snow;
    position: relative;
}

.buttons .btn,
input[type=submit] {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(77, 77, 97);
    font-weight: 1000;
    border-radius: 30px;
    font-size: 20px;
    color: seashell;
    margin-right: 20px;
    min-width: 100px;
    text-align: center;
    margin-top: 1rem;
}

.buttons .lk {
    background-color: rgb(71, 49, 70);
    color: #e2b8dd;
    cursor: pointer;
    /* position: absolute;
    right: 10px; */
}

.buttons .ulk {
    background-color: #e2b8dd;
    color: rgb(71, 49, 70);
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.buttons .dn {
    background-color: rgb(49, 71, 49);
}


/* NOTIFICATIONS */

.msg1,
.msg2 {
    position: fixed;
    top: 90px;
    right: 10px;
    background-color: #b8dae2;
    padding: 10px;
    border-radius: 30px;
    display: none;
}

.msgs .active,
.msgs .active {
    display: block;
}

.msg1 .head,
.msg2 .head {
    color: #313535;
    font-size: 25px;
    border-bottom: 3px solid #686868;
}

.msg1 .msg,
.msg2 .msg {
    color: #1b1b1b;
    padding: 10px 16px;
}

.msg1 .msg .btn,
.msg2 .msg .btn {
    padding: 7px 12px;
}

.msg1 .msg .yes {
    background-color: #296616;
}

#del {
    display: none;
}

#del2 {
    display: none;
}

.notifications {
    margin-top: 50px;
    padding: 10px;
    background-color: #201e1e;
    border-radius: 30px;
    color: aliceblue;
    max-width: 450px;
}

.notifications .notification {
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #b8dae2;
}

.notifications .notification h1 {
    color: aqua;
    font-size: 26px;
}

.msg2 .msg .yes {
    background-color: #66164b;
}


/* SOLD BADGE */

.sold {
    position: absolute;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: #06a166;
    text-align: end;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(228, 253, 6);
    font-weight: 900;
    font-size: 50px;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    border-radius: 0 30px 0 0;
}

.sold-txt {
    transform: rotateZ(45deg);
}

@media screen and (max-width: 1100px) {
    main {
        flex-direction: column-reverse;
    }
    .row1 {
        width: 100%;
    }
    .row2 {
        width: 100%;
    }
    /* Small Profile css < 1100px */
    .small-profile {
        width: 80%;
        margin: 20px 20px 50px 20px;
        height: auto;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .small-profile .profile-img .proimg {
        position: relative;
    }
    .small-profile .profile-text {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        float: none;
    }
    .small-profile .profile-text h2 {
        font-size: 40px;
        width: 100%;
        max-width: none;
        margin: 0;
        text-align: center;
        color: rgb(206 221 236);
        font-weight: 700;
    }
    /* table design */
    table {
        width: 90%;
    }
}

@media screen and (max-width: 850px) {
    /* POST INFO */
    .disc {
        flex-direction: column;
    }
    .disc1,
    .disc2 {
        width: 100%;
    }
    .title h1 {
        max-width: none;
        width: 100%;
        text-align: center;
        padding: 1.5rem;
    }
    .disc2 img,
    .add {
        margin-top: 30px;
        max-height: 500px;
        max-width: 90%;
    }
    .post-div2 {
        transform: translateY(-280px);
    }
}