.part {
    display: inline-table;
    box-sizing: content-box;
}

.part1 {
    position: relative;
    width: 25%;
    min-width: 340px;
}

.part2 {
    position: relative;
    /* top: -40px; */
    text-align: center;
    width: 70%;
    margin: 0;
}

.part2 .options {
    margin-left: 20px;
    display: flex;
    text-align: center;
    width: 100%;
}

.part2 .options input {
    display: none;
}

.part2 .options label {
    width: 25%;
    font-size: 25px;
    margin: 5px;
    background-color: rgb(0, 70, 92);
    color: rgb(248, 253, 215);
    border-radius: 5px;
    padding: 12px 16px;
}

.part2 .options input[type="radio"]:checked+label {
    background-color: rgb(172, 2, 96);
}

.my-list {
    position: relative;
    height: 85vh;
    overflow: scroll;
    scrollbar-width: none;
}

.my-list::-webkit-scrollbar {
    display: none;
}

.profile-block {
    position: relative;
    color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    box-shadow: 1px 1px 8px rgb(179, 175, 175);
    margin-left: 10px;
    background: rgb(81, 91, 93);
    background: radial-gradient(circle, rgba(81, 91, 93, 1) 0%, rgb(48, 53, 54) 100%);
}

.profile-block h1 {
    color: antiquewhite;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 30px;
}

.profile-block hr {
    margin-bottom: 10px;
}

.profile-block .profile-img {
    position: relative;
    text-align: center;
    margin-bottom: 3px;
}

.profile-block .profile-img img {
    width: 30%;
    min-width: 120px;
    border-radius: 50%;
    background-color: rgb(53, 92, 92);
    border: rgb(224, 207, 207) solid 3px;
}

.profile-block .profile-items h3 {
    background: none;
    border: none;
    outline: none;
    width: 75%;
    height: 20px;
    color: rgb(253, 253, 253);
    font-size: 18px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    font-weight: 100;
    margin-bottom: 5px;
}

.profile-block .profile-items p {
    font-size: 10px;
    color: rgb(219, 213, 186);
    margin-bottom: 0px;
}

.profile-block .profile-items a {
    outline: none;
    border: none;
    color: cornsilk;
    background-color: rgb(126, 126, 126);
    padding: 7px 12px;
    border-radius: 3px;
    font-size: 19px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s, color 0.2s;
}

.profile-block .profile-items a:hover {
    background-color: beige;
    color: black;
}

.product {
    position: relative;
    display: inline-block;
    max-width: 260px;
    width: 260px;
    text-align: center;
    margin: 20px;
    border: 1px solid rgba(180, 180, 180, 0.4);
    height: auto;
    background-color: rgb(238, 236, 236);
    border-radius: 10px;
    color: blue;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(142, 140, 140, 1) 100%);
    transition: transform 0.5s;
}

.product:hover {
    box-shadow: 0px 15px 11px -10px rgba(44, 44, 44, 0.2);
    transform: scale(1.05, 1.05);
}

.product-title {
    padding: 10px 16px;
    margin: 0;
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(19, 17, 17);
    font-weight: 700;
    border-bottom: rgb(172, 169, 169) 1px solid;
}

.product-text {
    color: rgb(49, 34, 34);
    font-size: 19px;
}

.product-text .brand {
    color: #363636;
}

.product img {
    margin: 10px 0;
    max-width: 250px;
    height: 200px;
}

button {
    position: relative;
    width: 70%;
    margin: 1em 10%;
    padding: 10px 18px;
    background-color: rgba(31, 35, 36, 0.9);
    color: rgb(0, 0, 0);
    font-style: solid;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(214, 238, 238);
    transition: color 0.2s;
}

button:hover {
    background-color: rgb(3, 3, 3);
    color: rgb(248, 201, 201);
    /* top: -2px; */
    box-shadow: 0px 15px 11px -10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button:hover a {
    color: #f0f0f0;
}

#liked,
#requested,
#bought,
#sold,
#unsold {
    display: none;
}